{% extends 'base.html' %}
{% load static %}

{% block title %}{{ month_name }} Challenge{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/header.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" with active_challenge="challenge" %}
    <h1>This {{ month_name }}'s Challenge</h1>
    {% if text is not None %}
        <h2>{{ text|title }}</h2>
    {% else %}
        <h2>There is no challenge for this month!</h2>
    {% endif %}
{% endblock %}